<div class="container">
        <div class="form-check mb-4">
            <form method="get">
                <h5 class="mb-2 fw-bold">materials:</h5>
	
                {% for item in materials %}
                    <div>
                        <input type="checkbox" name="materials[]" id="material_{{ item.id }}" value="{{ item.id }}" class="form-check-input"
                            {% if selectedMaterials and item.id in selectedMaterials|map(item => item.id) %}
                                checked
                            {% endif %}
                        >
                        <label for="material_{{ item.id }}" class="form-check-label">{{ item.name }}</label>
                    </div>
                {% endfor %}

                <button type="submit" class="btn btn-primary mt-3">Filter</button>
            </form>
        </div>

        <div class="row">
            {% if selectedMaterials|length == 0 %}
				{% for room in rooms %}
					{{ include('components/room_card.html.twig') }}
				{% endfor %}
            {% else %}
				{% for room in rooms %}
					{% set materialsMatch = true %}
					{% set exitLoop = false %}

					{% for selectedMaterial in selectedMaterials %}
						{% if selectedMaterial not in room.materials %}
							{% set materialsMatch = false %}
							{% set exitLoop = true %}
						{% endif %}
					{% endfor %}

					{% if materialsMatch %}
						{{ include('components/room_card.html.twig') }}
					{% endif %}

					{% if exitLoop %}
						{% set materialsMatch = false %}
					{% endif %}
				{% endfor %}
            {% endif %}
        </div>
    </div>